<div class="main">
  <div class="container">
    <h1>About TCRMP</h1>
    <h2>Contributors</h2>
    <p>
	    The <a href="https://sites.google.com/site/usvitcrmp/">Territorial Coral Reef Monitoring Program (TCRMP)</a> is a collaboration between <a href="https://www.uvi.edu/research/center-for-marine-environmental-studies/default.aspx">The Center for Marine and Environmental Studies</a> at the University of the Virgin Islands, the <a href="https://dpnr.vi.gov/czm/">Division of Coastal Zone Management</a> at the USVI Department of Planning and Natural Resources, and the <a href="https://coralreef.noaa.gov">Coral Reef Conservation Program</a> at the National Oceanic and Atmospheric Administration.
	</p>
	<h2>Our Vision</h2>
    <p><i>To provide critical information on the status and threats to all Virgin Islands coral reef ecosystems in order to increase management effectiveness and improve basic and applied coral reef research.</i></p>
    <h2>Objectives</h2>
    <ul>
    	<li>Monitor the <b>status and trajectories</b> of coral reefs across a majority of habitats and threats, including land-based sources of pollution and thermal stress</li>
    	<li>Link changes in coral reef health with specific stressors, indicating specific <b>management interventions</b> most effective for preserving reefs</li>
    	<li>Integrate assessments of understudied <b>mesophotic coral ecosystems</b> and <b>threatened species</b> in the USVI</li>
    	<li>Provide data, outputs, and advice to stakeholders and create a <b>nexus of information</b> for reef research</li>
    </ul>
    <h2>Coral Reefs of the Virgin Islands</h2>
    <h3>Management Actions Needed</h3>
    <ul>
    	<li>Coral Reef Bleaching</li>
    	<li>Overfishing</li>
    	<li>Land-Based Sources of Pollution</li>
    </ul>
    <h3>Positive Signs</h3>
    <ul>
    	<li>Reef Refuges</li>
    	<li>Rebounding Fisheries Species</li>
    	<li>Watershed Habitat Restoration</li>
    </ul>
    <h2>Contact</h2>
    <p>Data can be requested directly from the research team by contacting <a href="mailto:rosmin.ennis@uvi.edu">Rosmin S. Ennis</a>.</p>
    <p>Questions about this website should be directed to <a href="mailto:sarah.heidmann@uvi.edu">Sarah L. Heidmann</a>.</p>
  </div>
</div>