<div class="main">
  <div class="container">
    <h2>This site is temporarily in use for the Reef Bay Project. Please do not enter TCRMP data at this time.</h2>
	<a> <%= button_to "Enter Data", '/userhome', method: :get %></a>
  </div>
</div>

