<div class="header">
	<a href="home" class="logo">CompanyLogo</a>
  <div class="header-left">
    <a href="login">Log In</a>
    <a href="about">About</a>
  </div>
</div>

<div class="main">
  <div class="container">
    <h1>TCRMP Data Entry</h1>
    <p>Login Page</p>
  </div>
</div>