<div class="main">
  <div class="container">
    <div class="button">
    	<a href="fishtransect">Fish Transect</a>
    </div>
    <div class="button">
      <a href="fishrover">Fish Rover</a>
    </div>
    <div class="button">
      <a href="coraltransect">Coral Health</a>
    </div>
    <% if current_user.manager? %>
      <div class="button">
        <a> <%= link_to "Boat Logs", '/boatlogs' %></a>
      </div>
    <% end %>
    <% if current_user.admin? %>
      <div class="button">
        <a> <%= link_to "Manage Users", '/manageuser' %></a>
      </div>
    <% end %>
  </div>
</div>