<div class="main">
  <div class="container">
    <h1>TCRMP Data Entry</h1>
    <div class="button">
    	<a href="fishtransect">Fish Transect</a>
    </div>
    <div class="button">
      <a href="fishrover">Fish Rover</a>
    </div>
    <div class="button">
      <a href="coraltransect">Coral Health</a>
    </div>
    </div>
  </div>
</div>