<div class='nested-fields'>
	<div class="row">
		<li style="white-space:nowrap;">
		<div class="col-md-3 field">
		<%= f.collection_select :user_id, User.order(name: :asc).all, :id, :name, {:include_blank => ""}, {:class=>"observerSelect" } %>
		</div>
		<div class="col-md-2 field">
		<%= f.collection_select :survey_type_id, SurveyType.all, :id, :type_name, {:include_blank => ""}, {:class=>"typeSelect" } %>
		</div>
		<div class="col-md-2 field">
		<%= f.text_field :rep, { :size => '3' } %>
		</div>
		<%= link_to_remove_association "Remove Survey", f, partial: 'survey_fields', tabindex: "-1" %>
		</li>
	</div>
</div>