<div class="main">
  <div class="container">
  	<h1>Edit Boatlog</h1>
  	<p><%= button_to 'Cancel', '/boatlogs', method: :get, data: { confirm: 'Cancel edit?' } %></p>
    <%= render 'form' %>
  </div>
</div>