<div class="main">
  <div class="container">
  	<h1>New Boatlog</h1>
  	<p><%= button_to 'Cancel', '/boatlogs', method: :get, data: { confirm: 'Cancel new boatlog?' } %></p>
    <%= render 'form' %>
    </div>
</div>