<div class="main">
  <div class="container">
    <h1>New Algae Height Transect</h1>
    <p><%= button_to 'Cancel', '/algae_heights', method: :get, data: { confirm: 'Cancel new algae height transect?' } %></p>
    <%= render 'form' %>
  </div>
</div>