<div class="main">
  <div class="container">
  	<h1>New User</h1>
  	<p><%= button_to 'Cancel', '/users', method: :get, data: { confirm: 'Cancel new user?' } %></p>
    <%= render 'form' %>
  </div>
</div>