<div class="main">
  <div class="container">
  	<h1>New Manager</h1>
  	<p><%= button_to 'Cancel', '/managers', method: :get, data: { confirm: 'Cancel new manager?' } %></p>
    <%= render 'form' %>
  </div>
</div>