<div class="main">
  <div class="container">
    <h1>New ECMP Survey</h1>
    <p><%= button_to 'Cancel', '/e_surveys', method: :get, data: { confirm: 'Cancel new ECMP survey?' } %></p>
    <%= render 'form' %>
  </div>
</div>