/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the UVI logo */
.logo {
  float: left;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 14px; 
  border-radius: 4px;
  line-height: 87px;
  padding: 10px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the header title */
.title {
  text-align: center;
  float: left;
  font-size: 24px;
  padding: 10px;
  border-radius: 4px;
  margin-left: 24px;
  line-height: 87px;
}

/* Add white space at the bottom */
body {
    padding-bottom: 300px;
}


/* Errors */
.error {
  color: red !important;
}

input.error {
  background-color: yellow !important;
  border: 1px solid yellow !important;
}

.field_with_errors{
  display: inline;
}

/* Select2 box */
.select2-container {
  width: 250px;
  margin-left: 0px;
  padding-left: 0px;
}

/* Field Progress */
#fieldProgress {
  text-align: center;
}
#fieldProgress th {
  text-align: center;
}
.complete {
  background-color: #ababab;
}

/* Fish Transects */
.fishLabels, .coralLabels {
  font-weight: bold;
}
.fishList {
  padding: 0px 0px 0px 0px;
}
.fishLabels #fishes {
  display: block;
}
.speciesHead {
  width: 250px;
  margin-left: 40px;
}
.speciesField {
  width: 250px;
}
.sizeBinHead {
  width: 90px;
}
.sizeBinField {
  margin-right: 42px;
  margin-left: 5px;
  width: 40px;
}