<div class="main">
  <div class="container">
  	<h1>Edit Fish Transect</h1>
  	<p><%= button_to 'Cancel', '/fish_transects', method: :get, data: { confirm: 'Cancel edit?' } %></p>
    <%= render 'form' %>
  </div>
</div>