<div class="main">
  <div class="container">
  	<h1>New Fish Transect</h1>
  	<p><%= button_to 'Cancel', '/fish_transects', method: :get, data: { confirm: 'Cancel new fish transect?' } %></p>
    <%= render 'form' %>
    </div>
</div>